job "backend-{{ service_name }}" {

  datacenters = ["dc1"]
  type = "service"

  group "backend" {
    count = 1

    network {
      port "http-backend-{{ service_name }}" {
        to = 5000
       }
    }

    task "backend-task" {
      driver = "docker"
      config {
        image = "{{ service_image }}"
        ports = ["http-backend-{{ service_name }}"]
      }

      service {
        name = "backend-{{ service_name }}"
        port = "http-backend-{{ service_name }}"

        tags = [
          "backend"
        ]

        check {
          type = "http"
          path = "/one"
          interval = "5s"
          timeout = "2s"
        }

      }
    }
  }
}
