job "backend-service" {

  datacenters = ["dc1"]
  type = "service"

  group "backend" {
    count = 1

    task "backend-task" {
      driver = "docker"
      config {
        image = "{{ service_image }}"
      }

      service {
        name = "backend-{{ service_name }}"

        tags = [
          "backend"
        ]

        check {
          type = "http"
          path = "/one"
          interval = "5s"
          timeout = "2s"
        }

      }
    }
  }
}