job "backend-service" {

  datacenters = ["dc1"]
  type = "service"

  group "backend" {
    count = 1

    task "backend-task" {
      driver = "docker"
      config {
        image = "{{ service_image }}"
      }

      resources {
        network {
          port "http-backend" {
            static = 5000
          }
        }
      }

      service {
        name = "backend-{{ service_name }}"
        port = "http-backend"

        tags = [
          "backend"
        ]

        check {
          type = "http"
          path = "/one"
          interval = "5s"
          timeout = "2s"
        }
